<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-itunes-app" content="app-id=XXXXXX"/>
    <title>< %= data.page.title || "Site Title Here" %></title>
    <meta name="description" content="Your amazing prototype"/>
    <link type="image/ico" href="favicon.ico" rel="icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
    < %= stylesheet_link_tag "styles" %>
 
    <script src="js/modernizr.2.6.2.min.js"></script>
</head>