#experimental.reveal-modal.medium.rounded
 .flex-video
  %iframe{allowfullscreen: "", frameborder: "0", height: "100", src: "//www.youtube.com/embed/JRfzKJRFx5c", width: "420"}
 %a.close-reveal-modal ×