/ Footer
%footer#footer
  .footer_container 
    %p.footer-block Proudly written in HAML, SCSS & hosted on Heroku 
    %p.footer-block © Copyright Brent Scheibelhut
    %ul.inline-list.footer-block.share_block
      %li.footer_shares
        %a.icon-linkedin{href: "http://www.linkedin.com/profile/view?id=259895209"}
      %li.footer_shares
        %a.icon-twitter{href: "https://twitter.com/4Schybo"} 
      %li.footer_shares
        %a.icon-facebook{href: "https://www.facebook.com/brent.scheibelhut"} 
      %li.footer_shares
        %a.icon-gplus{href: "https://plus.google.com/109561166639292857885"} 
      %li.footer_shares
        %a.icon-stumbleupon{href: "http://www.stumbleupon.com/badge/?url=http%3A//brentscheibelhut.com"}