/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Copyright Brent Scheibelhut
      .large-6.columns
        %ul.inline-list.right
          %li
            %a.icon-youtube-1{href: "#"}
          %li
            %a{href: "#"} Link 2
          %li
            %a{href: "#"} Link 3
          %li
            %a{href: "#"} Link 4