/ Footer
%footer#footer
  %p.align-left © Copyright Brent Scheibelhut
  %p.align-center Proudly written in HAML, SCSS & hosted on Heroku
  %ul.inline-list.align-right
    %li
      %a.icon-linkedin{href: "http://lnkd.in/bYkCZ8n"}
    %li
      %a.icon-twitter{href: "https://twitter.com/4Schybo"} 
    %li
      %a.icon-facebook{href: "https://www.facebook.com/brent.scheibelhut"} 
    %li
      %a.icon-gplus{href: "https://plus.google.com/109561166639292857885/posts/p/pub"} 
    %li
      %a.icon-stumbleupon{href: "http://www.stumbleupon.com/badge/?url=http%3A//brentscheibelhut.com"}

/
  .large-12.columns
    %hr/
    .row
      .large-3.columns
        %p © Copyright Brent Scheibelhut
      .large-6.columns
        %p.text-center Proudly written in HAML, SCSS & hosted on Heroku
      .large-3.columns
        %ul.inline-list.right
          %li
            %a.icon-linkedin{href: "http://lnkd.in/bYkCZ8n"}
          %li
            %a.icon-twitter{href: "https://twitter.com/4Schybo"} 
          %li
            %a.icon-facebook{href: "https://www.facebook.com/brent.scheibelhut"} 
          %li
            %a.icon-gplus{href: "https://plus.google.com/109561166639292857885/posts/p/pub"} 
          %li
            %a.icon-stumbleupon{href: "http://www.stumbleupon.com/badge/?url=http%3A//brentscheibelhut.com"}