/ Navigation
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{href: "#"}
          Brent Scheibelhut
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.divider
      %li.has-dropdown
        %a{href: "#"} Published Works
        %ul.dropdown
          %li
            %label Section Name
          %li.has-dropdown
            %a{href: "#"} Has Dropdown, Level 1
            %ul.dropdown
              %li
                %a{href: "#"} Dropdown Options
              %li
                %a{href: "#"} Dropdown Options
              %li
                %a{href: "#"} Level 2
              %li
                %a{href: "#"} Subdropdown Option
              %li
                %a{href: "#"} Subdropdown Option
              %li
                %a{href: "#"} Subdropdown Option
          %li
            %a{href: "#"} Dropdown Option
          %li
            %a{href: "#"} Dropdown Option
          %li.divider
          %li
            %label Section Name
          %li
            %a{href: "#"} Dropdown Option
          %li
            %a{href: "#"} Dropdown Option
          %li
            %a{href: "#"} Dropdown Option
          %li.divider
          %li
            %a{href: "#"} See all →
      %li.divider
      %li
        %a{href: "#"} Unpublished Works
      %li.divider
      %li.has-dropdown
        %a{href: "#"} About
        %ul.dropdown
          %li
            %a{href: "#"} Dropdown Option
          %li
            %a{href: "#"} Dropdown Option
          %li
            %a{href: "#"} Dropdown Option
          %li.divider
          %li
            %a{href: "#"} See all →
/ End Top Bar