/ Navigation
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{href: "/"}
          Brent Scheibelhut
    %li.toggle-topbar.menu-icon
      %a{href: "/"}
        %span menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.divider
      %li.has-dropdown
        %a{href: "#"} Published Works
        %ul.dropdown
          %li
            %label Design
          %li.has-dropdown
            %a{href: "#"} Infographics
            %ul.dropdown
              %li
                %a{href: "#"} 5 Sales Pain Cured
          %li
            %a{href: "#"} Work.com Site Wide Images
          %li
            %a{href: "#"} Salesforce.com Work.com Images
          %li
            %a{href: "#"} Advertisements
          %li.divider
          %li
            %label Writing
          %li
            %a{href: "#"} Recognize & Motivate
          %li
            %a{href: "#"} Coaching
      %li.divider
      %li.has-dropdown
        %a{href: "#"} Unpublished Works
        %ul.dropdown
          %li
            %label Artwork
          %li
            %a{href: "#"} Sketches
          %li
            %a{href: "#"} Whiteboard
          %li.divider
          %li
            %label Writing
          %li
            %a{href: "#"} Novel #1
          %li
            %a{href: "#"} Novel #2
          -#%li.divider
          -#%li
          -#  %label Apps
      %li.divider
      %li.has-dropdown
        %a{href: "#"} About
        %ul.dropdown
          %li
            %a{href: "#"} R&eacute;sum&eacute;
          %li
            %a{href: "#"} Curriculum Vitae
          %li
            %a{href: "#"} Contact
          %li.divider
          %li.has-dropdown
            %a{href: "#"} Athletics
            %ul.dropdown
              %li
                %a{href: "#"} Running
              %li
                %a{href: "#"} Lifting
              %li
                %a{href: "#"} Swimming
          %li
            %a{href: "#"} Top 10's
/ End Top Bar