/ Lifting
/\---
/title: Brent Scheibelhut - Designer. Hacker. Artist. Writer. Athlete.
/page_description: Freelance design for graphics, videos, blog syndication, responsive websites, IT support
/social:video
/\---
/ Injuries

//Menu isn't working on this page

.a_content_top
  .a_body_title
    %p Advertisements to Date
  .a_body_sub_head
    %p Upgrade Your Campaign With a Professional Feel
  .a_body_cta
    /*%a.button.open{href: "#"} Contact Info*/
    %a.button.a_left_cta{"data-reveal-id" => "myModal", href: "#"} Contact Info
    %a.button.a_right_cta{"data-reveal-id" => "freeForm", href: "#"} Freelance Work

.row.spacer
.row.space_bottom.border_bottom
  %a.th.radius.fancybox{href: "assets/images/advertise/ad_online.jpg", rel: "gallery", title: "Ad In Action"}
    %img{src: "assets/images/advertise/df_work.jpg", height: "200px", width: "300px"}/
  %a.th.radius.fancybox{href: "assets/images/advertise/new_hor_rec2.jpg", rel: "gallery", title: "Wide Version #1"}
    %img{src: "assets/images/advertise/new_hor_rec2.jpg", height: "200px", width: "540px"}/
  %a.th.radius.fancybox{href: "assets/images/advertise/new_hor_rect.jpg", rel: "gallery", title: "Wide Version #2"}
    %img{src: "assets/images/advertise/new_hor_rect.jpg", height: "200px", width: "540px"}/
  %a.th.radius.fancybox{href: "assets/images/advertise/new_sqr.jpg", rel: "gallery", title: "Cowboy"}
    %img{src: "assets/images/advertise/new_sqr.jpg", height: "200px", width: "300px"}/
  %a.th.radius.fancybox{href: "assets/images/advertise/new_sqr2.jpg", rel: "gallery", title: "Cyclopes"}
    %img{src: "assets/images/advertise/new_sqr2.jpg", height: "200px", width: "300px"}/
  %a.th.radius.fancybox{href: "assets/images/advertise/new_vert_rect.jpg", rel: "gallery", title: "Ducks"}
    %img{src: "assets/images/advertise/new_vert_rect.jpg", height: "177px", width: "177px"}/
  /
    %a.th.radius.fancybox{href: "assets/images/advertise/original.jpg", rel: "gallery", title: "Elephant"}
      %img{src: "assets/images/advertise/original.jpg", height: "177px", width: "300px"}/
  %a.th.radius.fancybox{href: "assets/images/advertise/drive_pipe.jpg", rel: "gallery", title: "Elephant"}
    %img{src: "assets/images/advertise/drive_pipe.jpg", height: "177px", width: "300px"}/

= partial 'freelance_form'
= partial 'contact_info'