/ Header
//%a.button.open{href: "#"} Contact Info

= partial 'freelance_form'

.body_content_top
  .body_title
    %p Brent Scheibelhut
  .body_sub_head
    %p Designer. Hacker. Artist. Writer. Athlete.
  .body_cta
    /*%a.button.open{href: "#"} Contact Info*/
    %a.button.left_cta{"data-reveal-id" => "myModal", href: "#"} Contact Info
    %a.button.right_cta{"data-reveal-id" => "freeForm", href: "#"} Freelance Work
.body_content_bottom
  /%img{src:'assets/images/header.png'}
#myModal.reveal-modal.medium
  %img.left{src:"assets/images/logo_brent.png", width: "300px", height: "200px"}/
  %h2 Brent Scheibelhut
  %p.lead brent@scheibelhut.com
  %p.lead Cell: 226-600-8322
  %p 42 Wilgar Road
  %p Etobicoke, Ontario 
  %p M8X 1J5
  %a.close-reveal-modal ×