/ Header
//%a.button.open{href: "#"} Contact Info

= partial 'freelance_form'
= partial 'contact_info'

.body_content_top
  .body_title
    %p Brent Scheibelhut
  .body_sub_head
    %p Designer. Hacker. Artist. Writer. Athlete.
  .body_cta
    /*%a.button.open{href: "#"} Contact Info*/
    %a.button.left_cta{"data-reveal-id" => "myModal", href: "#"} Contact Info
    %a.button.right_cta{"data-reveal-id" => "freeForm", href: "#"} Freelance Work
.body_content_bottom
  /%img{src:'assets/images/header.png'}
