/ Header
//%a.button.open{href: "#"} Contact Info

= partial 'freelance_form'
= partial 'contact_info'

.body_content_top
  .body_title
    %p Brent Scheibelhut
  .body_sub_head
    %p Designer. Hacker. Artist. Writer. Athlete.
  .body_cta
    /*%a.button.open{href: "#"} Contact Info*/
    %a.button.left_cta{"data-reveal-id" => "myModal", href: "#"} Contact Info
    %a.button.right_cta{"data-reveal-id" => "freeForm", href: "#"} Freelance Work


.body_content_bottom
  .section_left
    %img.section_left_img{src:'assets/images/mobile-website.png', height: "350px", width: "450px"}
    .section_left_text
      %h2 Mobile & Responsive Websites
      %h3 Join the next generation of sites that are seamlessly responsive & mobile
      %ul
        %li Brand new - mobile first - websites
        %li Upgrade existing sites for responsiveness
        %li Completely unique and personalized - no templates!


  .section_left.non_mobile_right
    .section_left_text
      %h2 Stunning Graphic Design
      %h3 Enhance your site or marketing campaign with a professional look
      %ul
        %li Unique - built from the ground up
        %li Engage customers with a distinct and professional feel
        %li Graphic designs for websites, adertisments & interactive PDF's
    %img.section_left_img{src:'assets/images/graphic_design.png', height: "350px", width: "450px"}
  .section_left.mobile_right
    %img.section_left_img{src:'assets/images/graphic_design.png', height: "350px", width: "450px"}
    .section_left_text
      %h2 Stunning Graphic Design
      %h3 Enhance your site or marketing campaign with a professional look
      %ul
        %li Unique - Built from the ground up
        %li Engage customers with a distinct and professional feel
        %li Graphic Designs Websites, Adertisments & Interactive PDF's

  .section_left.no_border_bottom
    %img.section_left_img{src:'assets/images/seo_marketing.png', height: "350px", width: "450px"}
    .section_left_text
      %h2 SEO & Marketing
      %h3 Increase Awareness and Conversions With Insightful Marketing
      %ul
        %li Intelligent campaigns setup from experience
        %li Harness the power of social media to engage customers
        %li Email drops, targeted advertisement & search engine optimization

