/ Lifting
/ Injuries
.row 
  %h1.space_top.font All Time Lifting Records
.row.space_bottom
  %table
    %thead
      %tr
        %th{width: "300"} Exercise
        %th{width: "150"} Weight (lb)
        %th{width: "150"} Reps x Sets
        %th{width: "150"} Bodyweight (lb)
        %th{width: "300"} Date
    %tbody
      %tr
        %td Bench Press
        %td 225
        %td 3 RPM
        %td 183
        %td October, 2013
      %tr
        %td Pull Ups
        %td 183 + 40
        %td 4 x 4
        %td 183
        %td October 2013
      %tr
        %td Squat
        %td 205
        %td 7 RMP
        %td 165
        %td April, 2013
      %tr
        %td Deadlift
        %td 255
        %td 5 RMP
        %td 183
        %td October, 2013
      %tr
        %td OHP
        %td 125
        %td 5 RMP
        %td 175
        %td November, 2013
      %tr
        %td Incline Bench
        %td 165
        %td 4 x 3
        %td 175
        %td November, 2013
      %tr
        %td Chest Flys
        %td 65 x 2
        %td 5 x 3
        %td 175
        %td November, 2013
      %tr
        %td Back Barbell Rows
        %td 145
        %td 4 x 4
        %td 175
        %td November, 2013
      %tr
        %td Back Dumbell Row
        %td 75 
        %td 10 x 2
        %td 175
        %td November, 2013
      %tr
        %td Dumbell Shoulder Press
        %td 60 x 2
        %td 7 x 3
        %td 183
        %td October, 2013
      %tr
        %td Skullcrushers
        %td 50 x 2
        %td 8 x 2
        %td 183
        %td October, 2013
      %tr
        %td Cable Chest Flys
        %td 25 x 2
        %td 10 x 2
        %td 175
        %td November, 2013
      %tr
        %td Dumbell Bicep Curl
        %td 45 x 2
        %td 8 RMP
        %td 183
        %td October, 2013
      %tr
        %td Shrugs
        %td 90 x 2
        %td 10 x 2
        %td 183
        %td October, 2013
      %tr
        %td Hammer Curls
        %td 35 x 2
        %td 8 x 2
        %td 183
        %td October, 2013
      %tr
        %td Core Curls
        %td 35
        %td N/A
        %td 165
        %td April, 2013
      %tr
        %td Lateral Raises
        %td 25 x 2
        %td 10 x 3
        %td 175
        %td November, 2013
      %tr
        %td T-Bar Rows
        %td Bar + 85
        %td 5 x 4
        %td 175
        %td November, 2013
      %tr
        %td Chest Dips
        %td 183 + 45
        %td 5 x 3
        %td 183
        %td October, 2013
      %tr
        %td Tricep Dips
        %td 183 + 45
        %td 7 x 3
        %td 183
        %td October, 2013
.row
  .small-12.columns