/ Lifting
/ Injuries
.row 
  %h1.space_top.font All Time Running Records
.row
  %h2.font Outdoor Track
.row.sm_space_bottom
  %table
    %thead
      %tr
        %th{width: "200"} Distance (m)
        %th{width: "150"} Time
        %th{width: "150"} Bodyweight (lb)
        %th{width: "200"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 800
        %td 2:02.56
        %td 145
        %td 2012
        %td Toronto Metro's
      %tr
        %td 1500
        %td 4:11.31
        %td 145
        %td October, 2013
        %td OFSSA (9th)
      %tr
        %td 3000
        %td 9:19.61
        %td 145
        %td 2010
        %td OFSAA (7th)
      %tr
        %td Steeple Chase (2000)
        %td 6:38.14
        %td 160
        %td 2012
        %td Toronto Metro's
  %p
    %b Source:
    %a{href: "http://www.athletic.net/TrackAndField/Athlete.aspx?AID=1184958"} Athletics.net

.row
  %h2.font Indoor Track
.row.sm_space_bottom
  %table
    %thead
      %tr
        %th{width: "200"} Distance (m)
        %th{width: "150"} Time
        %th{width: "150"} Bodyweight (lb)
        %th{width: "200"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 800
        %td 
        %td 
        %td 
        %td 
      %tr
        %td 1500
        %td 
        %td 
        %td 
        %td
      %tr
        %td 3000
        %td 
        %td 
        %td 
        %td
.row
  %h2.font Road
.row.sm_space_bottom
  %table
    %thead
      %tr
        %th{width: "200"} Distance (m)
        %th{width: "150"} Time
        %th{width: "150"} Bodyweight (lb)
        %th{width: "200"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 5000
        %td 16:27
        %td 160
        %td April 29, 2012
        %td Back's in Motion 5K (1rst)
      %tr
        %td 10000
        %td 39:21.5
        %td 145
        %td April 26, 2009
        %td Mercedes Benz 10K (Ran with family)
  %p
    %b Source:
    %a{href: "http://www.roadraceresults.com/find-a-runner-road-race-results-search.php?first=Brent&last=Scheibelhut"} Road Race Results
.row
  %h2.font Cross Country
.row.space_bottom
  %table
    %thead
      %tr
        %th{width: "200"} Distance (m)
        %th{width: "150"} Time
        %th{width: "150"} Bodyweight (lb)
        %th{width: "200"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 5000
        %td 17:04.7
        %td 145
        %td November 1, 2009
        %td OFSAA (10th)
  %p
    %b Source:
    %a{href: "http://www.sportstats.ca/searchResults.xhtml?firstname=Brent&lastname=SCHEIBELHUT"} Sports Stats