/ Lifting
/ Injuries
= stylesheet_link_tag "foundation/_flex"

.row.no_mar_pad
  %h1.font Salesforce.com Work.com Overview Images
  %h3.font
    Page found
    %a{href: "http://www.salesforce.com/work/overview/"} here
.row
  %a.fancybox{href: "assets/images/sfdc_perform.png", rel: "gallery", title: "Perform"}
    %img{src: "assets/images/sfdc_perform.png", height: "150px", width: "200px"}/
.row.no_mar_pad
  %h1.font Salesforce.com Work.com Feature Images
  %h3.font
    Page found
    %a{href: "http://www.salesforce.com/work/features"} here
.row
  .flexslider
    %ul.slides
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/
      %li
        %img{src: "/assets/images/seo_marketing.png"}/