/ Lifting
/ Injuries
.row
 %h1.space_top Sketches 2013
.row.space_bottom
 .thumb
  %a.fancybox{href: "assets/images/artwork/boxing.gif", rel: "gallery", title: "Boxing"}
   %img{src: "assets/images/artwork/boxing.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/christmas.gif", rel: "gallery", title: "Christmas"}
   %img{src: "assets/images/artwork/christmas.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/climber.gif", rel: "gallery", title: "Climber"}
   %img{src: "assets/images/artwork/climber.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/cowboy.gif", rel: "gallery", title: "Cowboy"}
   %img{src: "assets/images/artwork/cowboy.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/cyclopes.gif", rel: "gallery", title: "Boxing"}
   %img{src: "assets/images/artwork/cyclopes.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/ducks.gif", rel: "gallery", title: "Christmas"}
   %img{src: "assets/images/artwork/ducks.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/elephant.gif", rel: "gallery", title: "Climber"}
   %img{src: "assets/images/artwork/elephant.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/faces.gif", rel: "gallery", title: "Cowboy"}
   %img{src: "assets/images/artwork/faces.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/factory.gif", rel: "gallery", title: "Boxing"}
   %img{src: "assets/images/artwork/factory.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/fish_orc.gif", rel: "gallery", title: "Christmas"}
   %img{src: "assets/images/artwork/fish_orc.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/football.gif", rel: "gallery", title: "Climber"}
   %img{src: "assets/images/artwork/football.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/garden.gif", rel: "gallery", title: "Cowboy"}
   %img{src: "assets/images/artwork/garden.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/graffiti.gif", rel: "gallery", title: "Boxing"}
   %img{src: "assets/images/artwork/graffiti.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/island.gif", rel: "gallery", title: "Christmas"}
   %img{src: "assets/images/artwork/island.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/jungle.gif", rel: "gallery", title: "Climber"}
   %img{src: "assets/images/artwork/jungle.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/lionbeast.gif", rel: "gallery", title: "Cowboy"}
   %img{src: "assets/images/artwork/lionbeast.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/more_faces.gif", rel: "gallery", title: "Climber"}
   %img{src: "assets/images/artwork/more_faces.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/museum.gif", rel: "gallery", title: "Cowboy"}
   %img{src: "assets/images/artwork/museum.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/oliphaunt.gif", rel: "gallery", title: "Boxing"}
   %img{src: "assets/images/artwork/oliphaunt.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/safari.gif", rel: "gallery", title: "Christmas"}
   %img{src: "assets/images/artwork/safari.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/shading.gif", rel: "gallery", title: "Climber"}
   %img{src: "assets/images/artwork/shading.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/siege.gif", rel: "gallery", title: "Cowboy"}
   %img{src: "assets/images/artwork/siege.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/sirens.gif", rel: "gallery", title: "Boxing"}
   %img{src: "assets/images/artwork/sirens.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/strawberryshort.gif", rel: "gallery", title: "Christmas"}
   %img{src: "assets/images/artwork/strawberryshort.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/tree.gif", rel: "gallery", title: "Climber"}
   %img{src: "assets/images/artwork/tree.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/underwater.gif", rel: "gallery", title: "Cowboy"}
   %img{src: "assets/images/artwork/underwater.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/volcano.gif", rel: "gallery", title: "Boxing"}
   %img{src: "assets/images/artwork/volcano.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/wave.gif", rel: "gallery", title: "Christmas"}
   %img{src: "assets/images/artwork/wave.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/wildwest.gif", rel: "gallery", title: "Climber"}
   %img{src: "assets/images/artwork/wildwest.gif"}/
 .thumb
  %a.fancybox{href: "assets/images/artwork/woodpath.gif", rel: "gallery", title: "Cowboy"}
   %img{src: "assets/images/artwork/woodpath.gif"}/