/ Lifting
/ Injuries
.row
  %h1.space_top Sketches
.row.space_bottom
  %a.fancybox{href: "assets/images/artwork/boxing.gif", rel: "gallery", title: "Boxing"}
    %img{src: "assets/images/artwork/boxing.gif", height: "125px", width: "150px"}/
  %a.fancybox{href: "assets/images/artwork/christmas.gif", rel: "gallery", title: "Boxing"}
    %img{src: "assets/images/artwork/christmas.gif", height: "125px", width: "150px"}/
  %a.fancybox{href: "assets/images/artwork/climber.gif", rel: "gallery", title: "Boxing"}
    %img{src: "assets/images/artwork/climber.gif", height: "125px", width: "150px"}/
  %a.fancybox{href: "assets/images/artwork/cowboy.gif", rel: "gallery", title: "Boxing"}
    %img{src: "assets/images/artwork/cowboy.gif", height: "125px", width: "150px"}/
  %a.fancybox{href: "assets/images/artwork/boxing.gif", rel: "gallery", title: "Boxing"}
    %img{src: "assets/images/artwork/boxing.gif", height: "125px", width: "150px"}/
