/ Lifting
/ Injuries
.row
 %h1.space_top.font Sketches 2013
.row.space_bottom.border_bottom
 %a.th.radius.fancybox{href: "assets/images/artwork/boxing.gif", rel: "gallery", title: "Boxing"}
  %img{src: "assets/images/artwork/boxing.gif", height: "200px", width: "500px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/christmas.gif", rel: "gallery", title: "Christmas"}
  %img{src: "assets/images/artwork/christmas.gif", height: "200px", width: "177px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/climber.gif", rel: "gallery", title: "Climber"}
  %img{src: "assets/images/artwork/climber.gif", height: "200px", width: "177px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/cowboy.gif", rel: "gallery", title: "Cowboy"}
  %img{src: "assets/images/artwork/cowboy.gif", height: "180px", width: "85px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/cyclopes.gif", rel: "gallery", title: "Boxing"}
  %img{src: "assets/images/artwork/cyclopes.gif", height: "177px", width: "300px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/ducks.gif", rel: "gallery", title: "Christmas"}
  %img{src: "assets/images/artwork/ducks.gif", height: "177px", width: "335px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/elephant.gif", rel: "gallery", title: "Climber"}
  %img{src: "assets/images/artwork/elephant.gif", height: "177px", width: "290px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/faces.gif", rel: "gallery", title: "Cowboy"}
  %img{src: "assets/images/artwork/faces.gif", height: "200px", width: "147px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/factory.gif", rel: "gallery", title: "Boxing"}
  %img{src: "assets/images/artwork/factory.gif", height: "177px", width: "300px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/fish_orc.gif", rel: "gallery", title: "Christmas"}
  %img{src: "assets/images/artwork/fish_orc.gif", height: "200px", width: "170px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/football.gif", rel: "gallery", title: "Climber"}
  %img{src: "assets/images/artwork/football.gif", height: "200px", width: "170px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/garden.gif", rel: "gallery", title: "Cowboy"}
  %img{src: "assets/images/artwork/garden.gif", height: "200px", width: "200px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/graffiti.gif", rel: "gallery", title: "Boxing"}
  %img{src: "assets/images/artwork/graffiti.gif", height: "177px", width: "405px"}/
 %a.th.radius.fancybox{href: "assets/images/artwork/island.gif", rel: "gallery", title: "Christmas"}
  %img{src: "assets/images/artwork/island.gif", height: "200px", width: "200px"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/jungle.gif", rel: "gallery", title: "Climber"}
  %img{src: "assets/images/artwork/jungle.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/lionbeast.gif", rel: "gallery", title: "Cowboy"}
  %img{src: "assets/images/artwork/lionbeast.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/more_faces.gif", rel: "gallery", title: "Climber"}
  %img{src: "assets/images/artwork/more_faces.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/museum.gif", rel: "gallery", title: "Cowboy"}
  %img{src: "assets/images/artwork/museum.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/oliphaunt.gif", rel: "gallery", title: "Boxing"}
  %img{src: "assets/images/artwork/oliphaunt.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/safari.gif", rel: "gallery", title: "Christmas"}
  %img{src: "assets/images/artwork/safari.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/shading.gif", rel: "gallery", title: "Climber"}
  %img{src: "assets/images/artwork/shading.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/siege.gif", rel: "gallery", title: "Cowboy"}
  %img{src: "assets/images/artwork/siege.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/sirens.gif", rel: "gallery", title: "Boxing"}
  %img{src: "assets/images/artwork/sirens.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/strawberryshort.gif", rel: "gallery", title: "Christmas"}
  %img{src: "assets/images/artwork/strawberryshort.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/tree.gif", rel: "gallery", title: "Climber"}
  %img{src: "assets/images/artwork/tree.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/underwater.gif", rel: "gallery", title: "Cowboy"}
  %img{src: "assets/images/artwork/underwater.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/volcano.gif", rel: "gallery", title: "Boxing"}
  %img{src: "assets/images/artwork/volcano.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/wave.gif", rel: "gallery", title: "Christmas"}
  %img{src: "assets/images/artwork/wave.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/wildwest.gif", rel: "gallery", title: "Climber"}
  %img{src: "assets/images/artwork/wildwest.gif"}/

 %a.th.radius.fancybox{href: "assets/images/artwork/woodpath.gif", rel: "gallery", title: "Cowboy"}
  %img{src: "assets/images/artwork/woodpath.gif"}/