/ Lifting
/ Injuries
.row 
  %h1.space_top.font All Time Swimming Records
.row.sm_space_bottom
  %h3.font Freestyle
  %table
    %thead
      %tr
        %th{width: "300"} Distance (m)
        %th{width: "150"} Time
        %th{width: "300"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 50m
        %td 25.73
        %td December, 2011
        %td Secondary School Meet
      %tr
        %td 100m
        %td 58.27
        %td December, 2011
        %td Secondary School Meet
      %tr
        %td 200m
        %td 
        %td 
        %td 
      %tr
        %td 400m
        %td 
        %td 
        %td 
      %tr
        %td 800m
        %td 
        %td 
        %td 
      %tr
        %td 1500m
        %td 
        %td 
        %td 
.row.sm_space_bottom
  %h3.font Backstroke
  %table
    %thead
      %tr
        %th{width: "300"} Distance (m)
        %th{width: "150"} Time
        %th{width: "300"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 50m
        %td 
        %td 
        %td 
      %tr
        %td 100m
        %td 
        %td 
        %td 
      %tr
        %td 200m
        %td 
        %td 
        %td 
.row.sm_space_bottom
  %h3.font Breaststroke
  %table
    %thead
      %tr
        %th{width: "300"} Distance (m)
        %th{width: "150"} Time
        %th{width: "300"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 50m
        %td 
        %td 
        %td 
      %tr
        %td 100m
        %td 
        %td 
        %td 
      %tr
        %td 200m
        %td 
        %td 
        %td 
.row.sm_space_bottom
  %h3.font Butterfly
  %table
    %thead
      %tr
        %th{width: "300"} Distance (m)
        %th{width: "150"} Time
        %th{width: "300"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 50m
        %td 
        %td 
        %td 
      %tr
        %td 100m
        %td 
        %td 
        %td 
      %tr
        %td 200m
        %td 
        %td 
        %td 
.row.sm_space_bottom
  %h3.font Individual Medley
  %table
    %thead
      %tr
        %th{width: "300"} Distance (m)
        %th{width: "150"} Time
        %th{width: "300"} Date
        %th{width: "300"} Comments
    %tbody
      %tr
        %td 100m
        %td 
        %td 
        %td 
      %tr
        %td 200m
        %td 
        %td 
        %td 
      %tr
        %td 400m
        %td 
        %td 
        %td 