/ Lifting
/\---
/title: Brent Scheibelhut - Designer. Hacker. Artist. Writer. Athlete.
/page_description: Freelance design for graphics, videos, blog syndication, responsive websites, IT support
/social:video
/\---
/ Injuries

//Menu isn't working on this page

.simg_content_top
  .simg_body_title
    %p Salesforce Site - Work.com Images
  .simg_body_sub_head
    /%p Find All Of The Images On Work.com Website
    %p Capture Your Product's Brilliance With Professional Images
  .simg_body_cta
    /*%a.button.open{href: "#"} Contact Info*/
    %a.button.simg_left_cta{"data-reveal-id" => "myModal", href: "#"} Contact Info
    %a.button.simg_right_cta{"data-reveal-id" => "freeForm", href: "#"} Freelance Work

.row.spacer

.row.space_bottom
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_churn.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_churn.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_churn2.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_churn2.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_coaching.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_coaching.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_goals.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_goals.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_goals3.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_goals3.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_improve.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_improve.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_motivate.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_motivate.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_onboard.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_onboard.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_perform.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_perform.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_product.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_product.jpg", width: "150px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/sfdc_images/sfdc_product2.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_product2.jpg", width: "150px", height: "100px"}/

  %a.th.radius.fancybox.wide1_margin{href: "assets/images/sfdc_images/sfdc_goals2.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_goals2.jpg", width: "200px", height: "100px"}/
  %a.th.radius.fancybox.wide1_margin{href: "assets/images/sfdc_images/sfdc_improve2.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_improve2.jpg", width: "200px", height: "100px"}/
  %a.th.radius.fancybox.wide1_margin{href: "assets/images/sfdc_images/sfdc_motivate2.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_motivate2.jpg", width: "200px", height: "100px"}/
  %a.th.radius.fancybox.wide1_margin{href: "assets/images/sfdc_images/sfdc_perform3.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_perform3.jpg", width: "200px", height: "100px"}/
  %a.th.radius.fancybox.wide1_margin{href: "assets/images/sfdc_images/sfdc_perform2.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_perform2.jpg", width: "200px", height: "100px"}/

  %a.th.radius.fancybox.wide2_margin{href: "assets/images/sfdc_images/sfdc_hero_new.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_hero_new.jpg", width: "236px", height: "100px"}/
  %a.th.radius.fancybox.wide3_margin{href: "assets/images/sfdc_images/sfdc_hero_old.jpg", rel: "gallery"}
    %img{src: "assets/images/sfdc_images/sfdc_hero_old.jpg", width: "261px", height: "100px"}/



= partial 'freelance_form'
= partial 'contact_info'