/ Lifting
/ Injuries
.row
 %h1.space_top.font Whiteboard 2013
.row.space_bottom
 %a.th.radius.fancybox{href: "assets/images/whiteboard/bond.gif", rel: "gallery", title: "The Name's Milt. Mil-t-on"}
  %img{src: "assets/images/whiteboard/bond.gif", height: "300px", width: "450px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/collage.gif", rel: "gallery", title: "Collage"}
  %img{src: "assets/images/whiteboard/collage.gif", height: "200px", width: "338px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/clonemilt.gif", rel: "gallery", title: "#CloneMilt"}
  %img{src: "assets/images/whiteboard/clonemilt.gif", height: "300px", width: "200px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/leadmonster.gif", rel: "gallery", title: "Milt vs. the Lead Monster"}
  %img{src: "assets/images/whiteboard/leadmonster.gif", height: "300px", width: "700px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/mjones.gif", rel: "gallery", title: "Miltiana Jones and the Million Dollar Deal"}
  %img{src: "assets/images/whiteboard/mjones.gif", height: "225px", width: "600px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/mummy.gif", rel: "gallery", title: "Milt Visits the Desert to Revive Some Dead Leads"}
  %img{src: "assets/images/whiteboard/mummy.gif", height: "225px", width: "380px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/miltcoin.gif", rel: "gallery", title: "MiltCoin the #1 Online Currency"}
  %img{src: "assets/images/whiteboard/miltcoin.gif", height: "200px", width: "340px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/milt_rings.gif", rel: "gallery", title: "Milt of the Rings"}
  %img{src: "assets/images/whiteboard/milt_rings.gif", height: "225px", width: "380px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/milt_n_pole.jpg", rel: "gallery", title: "Milt vs. the North Pole"}
  %img{src: "assets/images/whiteboard/milt_n_pole.jpg", height: "225px", width: "465px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/milt_no_shark.jpg", rel: "gallery", title: "Milt vs. Seal the Deal"}
  %img{src: "assets/images/whiteboard/milt_no_shark.jpg", height: "225px", width: "350px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/milt_shark.jpg", rel: "gallery", title: "Milt vs. Seal the Deal w/ Shark"}
  %img{src: "assets/images/whiteboard/milt_shark.jpg", height: "225px", width: "380px"}/
