/ Lifting
/ Injuries
.row
 %h1.space_top.font Whiteboard 2013
.row.space_bottom
 %a.th.radius.fancybox{href: "assets/images/whiteboard/bond.jpg", rel: "gallery", title: "The Name's Milt. Mil-t-on"}
  %img{src: "assets/images/whiteboard/bond.jpg", height: "300px", width: "450px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/collage.jpg", rel: "gallery", title: "Collage"}
  %img{src: "assets/images/whiteboard/collage.jpg", height: "200px", width: "338px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/clonemilt.jpg", rel: "gallery", title: "#CloneMilt"}
  %img{src: "assets/images/whiteboard/clonemilt.jpg", height: "300px", width: "200px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/leadmonster.png", rel: "gallery", title: "Milt vs. the Lead Monster"}
  %img{src: "assets/images/whiteboard/leadmonster.png", height: "300px", width: "700px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/mjones.png", rel: "gallery", title: "Miltiana Jones and the Million Dollar Deal"}
  %img{src: "assets/images/whiteboard/mjones.png", height: "225px", width: "600px"}/
 %a.th.radius.fancybox{href: "assets/images/whiteboard/mummy.jpg", rel: "gallery", title: "Milt Visits the Desert to Revive Some Dead Leads"}
  %img{src: "assets/images/whiteboard/mummy.jpg", height: "225px", width: "380px"}/