/ Lifting
/ Injuries
.head_text
 %h1.space_top.less_space_bottom.font 5 Sales Pains Cured With Work.com
.smaller_sub_head
 %h1.less_space_bottom.font on Salesforce
.warning_text
 %p
  %kbd Please contact me if you would like access to the .PSD template
.infographic.space_bottom
 %img{src: "assets/images/work_info.png", title: "5 Sales Pains Cured With Work.com"}/
