/ Lifting
/\---
/title: Brent Scheibelhut - Designer. Hacker. Artist. Writer. Athlete.
/page_description: Freelance design for graphics, videos, blog syndication, responsive websites, IT support
/social:video
/\---
/ Injuries

//Menu isn't working on this page

.img_content_top
  .img_body_title
    %p Work.com Site Wide Images
  .img_body_sub_head
    /%p Find All Of The Images On Work.com Website
    %p Capture Your Product's Brilliance With Engaging Images
  .img_body_cta
    /*%a.button.open{href: "#"} Contact Info*/
    %a.button.img_left_cta{"data-reveal-id" => "myModal", href: "#"} Contact Info
    %a.button.img_right_cta{"data-reveal-id" => "freeForm", href: "#"} Freelance Work

%span.top-orbit
  %ul{"data-orbit" => ""}
    %li{"data-thumb" => "assets/images/work_images/work_account.jpg"}
      %img{src: "assets/images/work_images/work_account.jpg", width: "560px", height: "360px"}/
      /.orbit-caption Work Account
    %li{"data-thumb" => "assets/images/work_images/work_align.jpg"}
      %img{src: "assets/images/work_images/work_align.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_amazon.jpg"}
      %img{src: "assets/images/work_images/work_amazon.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_badges.jpg"}
      %img{src: "assets/images/work_images/work_badges.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_calli.jpg"}
      %img{src: "assets/images/work_images/work_calli.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_cycles.jpg"}
      %img{src: "assets/images/work_images/work_cycles.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_feedback.jpg"}
      %img{src: "assets/images/work_images/work_feedback.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_feedback2.jpg"}
      %img{src: "assets/images/work_images/work_feedback2.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_gamify.jpg"}
      %img{src: "assets/images/work_images/work_gamify.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_integration.jpg"}
      %img{src: "assets/images/work_images/work_integration.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_know.jpg"}
      %img{src: "assets/images/work_images/work_know.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_motivate.jpg"}
      %img{src: "assets/images/work_images/work_motivate.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_motivate2.jpg"}
      %img{src: "assets/images/work_images/work_motivate2.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_onboard2.jpg"}
      %img{src: "assets/images/work_images/work_onboard2.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/work_overview.jpg"}
      %img{src: "assets/images/work_images/work_overview.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/perform.jpg"}
      %img{src: "assets/images/work_images/perform.jpg", width: "560px", height: "360px"}/
    %li{"data-thumb" => "assets/images/work_images/platform.jpg"}
      %img{src: "assets/images/work_images/platform.jpg", width: "560px", height: "360px"}/

%span.top-2-orbit
  %ul{"data-orbit" => ""}
    %li{"data-thumb" => "assets/images/work_images/work_account.jpg"}
      %img{src: "assets/images/work_images/work_account.jpg", width: "300px", height: "196px"}/
      /.orbit-caption Work Account
    %li{"data-thumb" => "assets/images/work_images/work_align.jpg"}
      %img{src: "assets/images/work_images/work_align.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_amazon.jpg"}
      %img{src: "assets/images/work_images/work_amazon.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_badges.jpg"}
      %img{src: "assets/images/work_images/work_badges.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_calli.jpg"}
      %img{src: "assets/images/work_images/work_calli.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_cycles.jpg"}
      %img{src: "assets/images/work_images/work_cycles.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_feedback.jpg"}
      %img{src: "assets/images/work_images/work_feedback.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_feedback2.jpg"}
      %img{src: "assets/images/work_images/work_feedback2.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_gamify.jpg"}
      %img{src: "assets/images/work_images/work_gamify.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_integration.jpg"}
      %img{src: "assets/images/work_images/work_integration.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_know.jpg"}
      %img{src: "assets/images/work_images/work_know.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_motivate.jpg"}
      %img{src: "assets/images/work_images/work_motivate.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_motivate2.jpg"}
      %img{src: "assets/images/work_images/work_motivate2.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_onboard2.jpg"}
      %img{src: "assets/images/work_images/work_onboard2.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/work_overview.jpg"}
      %img{src: "assets/images/work_images/work_overview.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/perform.jpg"}
      %img{src: "assets/images/work_images/perform.jpg", width: "300px", height: "196px"}/
    %li{"data-thumb" => "assets/images/work_images/platform.jpg"}
      %img{src: "assets/images/work_images/platform.jpg", width: "300px", height: "196px"}/

%span.bottom-orbit
  %ul{"data-orbit" => ""}
    %li{"data-thumb" => "assets/images/work_images/work_m_goals.jpg"}
      %img{src: "assets/images/work_images/work_m_goals.jpg", width: "300px", height: "450px"}/
    %li{"data-thumb" => "assets/images/work_images/work_m_profile.jpg"}
      %img{src: "assets/images/work_images/work_m_profile.jpg", width: "300px", height: "450px"}/
    %li{"data-thumb" => "assets/images/work_images/work_m_rec.jpg"}
      %img{src: "assets/images/work_images/work_m_rec.jpg", width: "300px", height: "450px"}/
    %li{"data-thumb" => "assets/images/work_images/work_m_thanks.jpg"}
      %img{src: "assets/images/work_images/work_m_thanks.jpg", width: "300px", height: "450px"}/
        


= partial 'freelance_form'
= partial 'contact_info'