/ Lifting
/\---
/title: Brent Scheibelhut - Designer. Hacker. Artist. Writer. Athlete.
/page_description: Freelance design for graphics, videos, blog syndication, responsive websites, IT support
/social:video
/\---
/ Injuries

//Menu isn't working on this page

.img_content_top
  .img_body_title
    %p Work.com Site Wide Images
  .img_body_sub_head
    /%p Find All Of The Images On Work.com Website
    %p Capture Your Product's Brilliance With Engaging Images
  .img_body_cta
    /*%a.button.open{href: "#"} Contact Info*/
    %a.button.img_left_cta{"data-reveal-id" => "myModal", href: "#"} Contact Info
    %a.button.img_right_cta{"data-reveal-id" => "freeForm", href: "#"} Freelance Work

-#
  %span.top-orbit
    %ul{"data-orbit" => ""}
      %li{"data-thumb" => "assets/images/work_images/work_account.jpg"}
        %img{src: "assets/images/work_images/work_account.jpg", width: "560px", height: "360px"}/
        /.orbit-caption Work Account
      %li{"data-thumb" => "assets/images/work_images/work_align.jpg"}
        %img{src: "assets/images/work_images/work_align.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_amazon.jpg"}
        %img{src: "assets/images/work_images/work_amazon.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_badges.jpg"}
        %img{src: "assets/images/work_images/work_badges.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_calli.jpg"}
        %img{src: "assets/images/work_images/work_calli.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_cycles.jpg"}
        %img{src: "assets/images/work_images/work_cycles.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_feedback.jpg"}
        %img{src: "assets/images/work_images/work_feedback.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_feedback2.jpg"}
        %img{src: "assets/images/work_images/work_feedback2.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_gamify.jpg"}
        %img{src: "assets/images/work_images/work_gamify.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_integration.jpg"}
        %img{src: "assets/images/work_images/work_integration.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_know.jpg"}
        %img{src: "assets/images/work_images/work_know.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_motivate.jpg"}
        %img{src: "assets/images/work_images/work_motivate.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_motivate2.jpg"}
        %img{src: "assets/images/work_images/work_motivate2.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_onboard2.jpg"}
        %img{src: "assets/images/work_images/work_onboard2.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/work_overview.jpg"}
        %img{src: "assets/images/work_images/work_overview.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/perform.jpg"}
        %img{src: "assets/images/work_images/perform.jpg", width: "560px", height: "360px"}/
      %li{"data-thumb" => "assets/images/work_images/platform.jpg"}
        %img{src: "assets/images/work_images/platform.jpg", width: "560px", height: "360px"}/
  %span.top-2-orbit
    %ul{"data-orbit" => ""}
      %li{"data-thumb" => "assets/images/work_images/work_account.jpg"}
        %img{src: "assets/images/work_images/work_account.jpg", width: "300px", height: "196px"}/
        /.orbit-caption Work Account
      %li{"data-thumb" => "assets/images/work_images/work_align.jpg"}
        %img{src: "assets/images/work_images/work_align.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_amazon.jpg"}
        %img{src: "assets/images/work_images/work_amazon.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_badges.jpg"}
        %img{src: "assets/images/work_images/work_badges.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_calli.jpg"}
        %img{src: "assets/images/work_images/work_calli.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_cycles.jpg"}
        %img{src: "assets/images/work_images/work_cycles.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_feedback.jpg"}
        %img{src: "assets/images/work_images/work_feedback.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_feedback2.jpg"}
        %img{src: "assets/images/work_images/work_feedback2.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_gamify.jpg"}
        %img{src: "assets/images/work_images/work_gamify.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_integration.jpg"}
        %img{src: "assets/images/work_images/work_integration.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_know.jpg"}
        %img{src: "assets/images/work_images/work_know.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_motivate.jpg"}
        %img{src: "assets/images/work_images/work_motivate.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_motivate2.jpg"}
        %img{src: "assets/images/work_images/work_motivate2.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_onboard2.jpg"}
        %img{src: "assets/images/work_images/work_onboard2.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/work_overview.jpg"}
        %img{src: "assets/images/work_images/work_overview.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/perform.jpg"}
        %img{src: "assets/images/work_images/perform.jpg", width: "300px", height: "196px"}/
      %li{"data-thumb" => "assets/images/work_images/platform.jpg"}
        %img{src: "assets/images/work_images/platform.jpg", width: "300px", height: "196px"}/
  %span.bottom-orbit
    %ul{"data-orbit" => ""}
      %li{"data-thumb" => "assets/images/work_images/work_m_goals.jpg"}
        %img{src: "assets/images/work_images/work_m_goals.jpg", width: "300px", height: "450px"}/
      %li{"data-thumb" => "assets/images/work_images/work_m_profile.jpg"}
        %img{src: "assets/images/work_images/work_m_profile.jpg", width: "300px", height: "450px"}/
      %li{"data-thumb" => "assets/images/work_images/work_m_rec.jpg"}
        %img{src: "assets/images/work_images/work_m_rec.jpg", width: "300px", height: "450px"}/
      %li{"data-thumb" => "assets/images/work_images/work_m_thanks.jpg"}
        %img{src: "assets/images/work_images/work_m_thanks.jpg", width: "300px", height: "450px"}/

.row.spacer

.row.space_bottom
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_account.jpg", rel: "gallery"}
    %img.sblock{src: "assets/images/work_images/work_account.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_align.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_align.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_amazon.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_amazon.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_badges.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_badges.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_calli.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_calli.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_coaching.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_coaching.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_cycles.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_cycles.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_feedback.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_feedback.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_feedback2.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_feedback2.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_gamify.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_gamify.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_integration.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_integration.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_know.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_know.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_motivate2.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_motivate2.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_motivate.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_motivate.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_onbaord2.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_onboard2.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_overview.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_overview.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_perform.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_perform.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_results.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_results.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_platform.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_platform.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_relation.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_relation.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_rep.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_rep.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_reviews.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_reviews.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_rewards.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_rewards.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_safety.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_safety.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_see.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_see.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_service.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_service.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_social.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_social.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_summaries.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_summaries.jpg", width: "153px", height: "100px"}/
  %a.th.radius.fancybox.sw_margin{href: "assets/images/work_images/work_training.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_training.jpg", width: "153px", height: "100px"}/



  %a.th.radius.fancybox.mobile_margin{href: "assets/images/work_images/work_m_goals.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_m_goals.jpg", width: "67px", height: "100px"}/
  %a.th.radius.fancybox.mobile_margin{href: "assets/images/work_images/work_m_profile.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_m_profile.jpg", width: "67px", height: "100px"}/
  %a.th.radius.fancybox.mobile_margin{href: "assets/images/work_images/work_m_rec.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_m_rec.jpg", width: "67px", height: "100px"}/
  %a.th.radius.fancybox.mobile_margin{href: "assets/images/work_images/work_m_thanks.jpg", rel: "gallery"}
    %img{src: "assets/images/work_images/work_m_thanks.jpg", width: "67px", height: "100px"}/
 
        


= partial 'freelance_form'
= partial 'contact_info'